<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.css"/>
        <title>Products</title>
    </head>
    <body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.js"></script>
    <div class="container">
        <div class="btn-group btn-group-lg float-right" role="group" aria-label="Basic example">
            <div th:replace="/parts :: modal"></div>
            <div th:replace="/parts :: pageSize"></div>
        </div>
        <h2>Продукты:</h2>
        <div th:replace="/parts :: table"></div>
        <div th:replace="/parts :: filter"></div>
        <script th:inline="javascript">
            var min = [[${filter.getDefaultMin()}]];
            var max = [[${filter.getDefaultMax()}]];
            var value = [[${filter.getRange()}]];
            var slider = new Slider('#ex2', {
                min: min,
                max: max,
                scale: 'logarithmic',
                value: value,
                step: 0.1,
                precision: 1,
                formatter: function formatter(value){
                    return 'Current value: ' + value;
                }
            });
                // неработает что то тултипы
            slider.on('change',function () {
                document.getElementById('l1').innerText = slider.getValue()[0];
                document.getElementById('l2').innerText = slider.getValue()[1];
            });
        </script>
        <div th:replace="/parts :: pagination"></div>
    </div>
    </body>
</html>