<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Пользователи</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.css"/>
    <link rel="stylesheet" href="/test.css">
</head>
    <body>
    <div class="container">
        <h2>Продукты:</h2>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Название</th>
                <th>Цена</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${productPage}">
                <td th:text="${product.title}"></td>
                <td th:text="${product.cost}"></td>
            </tr>
            </tbody>
        </table>
        Filter by price interval:
        <div id="test" class="well" style="padding: 20px">
            <form th:action="@{/products/all}" th:object="${priceFilter}" method="get" >
                        <div style="float: left; margin: 10px; width: 40px">
                            <span id="l1" th:text="${priceFilter.getRange()[0]}"></span>
                        </div>
                        <div style="float: left; margin: 10px; width: 220px">
                            <input class="slider"
                                   id="ex2"
                                   type="text"
                                   data-slider-tooltip="show"
                                   th:field="*{range}"/>
                        </div>
                        <div style="float: left; margin: 10px; width: 40px">
                            <span id="l2" th:text="${priceFilter.getRange()[1]}"></span>
                        </div>
                    <input type="submit" class="btn btn-warning" value="Filter">
            </form>
            <script th:inline="javascript">
                var min = [[${priceFilter.getDefaultMin()}]];
                var max = [[${priceFilter.getDefaultMax()}]];
                var value = [[${priceFilter.getRange()}]];
                var slider = new Slider('#ex2', {
                    min: min,
                    max: max,
                    scale: 'logarithmic',
                    value: value,
                    step: 0.1,
                    precision: 1,
                    formatter: function(value) {
                        return 'Current value: ' + value;
                    }
                });
                // неработает что то
                slider.on('slide',function () {
                    document.getElementById('l1').innerText = slider.getValue()[0];
                    document.getElementById('l2').innerText = slider.getValue()[1];
                });
            </script>
        </div>
        <div th:if="${productPage.totalPages > 0}" class="pagination"
                th:each="pageNumber : ${pageNumbers}">
                    <a class="btn btn-warning" th:href="@{/products/all (size=${productPage.size}, range=${priceFilter.getRange()},
                    page=${pageNumber})}" th:text="${pageNumber}" th:class="${productPage==productPage.number + 1} ? active"></a>
        </div>
    </div>
</body>
</html>