<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  >
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.css"/>
        <title>Products</title>
    </head>

    <body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.js"></script>

    <div class="container">
        <div th:replace="~{navigation :: navigation(Shop)}"></div>
        <div class="btn-group btn-group-lg float-right" role="group" aria-label="Basic example">
            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" th:text="'Page Size: ' + ${productPage.size}"></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" th:href="@{'/shop/?size='+5+${filter.toString()}}">5</a>
                    <a class="dropdown-item" th:href="@{'/shop/?size='+10+${filter.toString()}}">10</a>
                    <a class="dropdown-item" th:href="@{'/shop/?size='+20+${filter.toString()}}">20</a>
                </div>
            </div>
        </div>
        <h2>Продукты:</h2>
        <div>
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th class="col">Название</th>
                    <th class="col">Цена</th>
                    <th class="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${productPage}">
                    <td th:text="${product.title}"></td>
                    <td th:text="${product.cost}"></td>
                    <td>
                        <a role="button" class="btn btn-info" th:href="@{'/cart/add/' + ${product.id}}">Add to Cart</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <form th:action="@{/shop/}" method="GET" >
                <div class="form-group row">
                    <label for="inputWord" class="col-sm-2 col-form-label">Word For Search</label>
                    <div class="col-sm-10">
                        <input type="hidden" th:value="${productPage.size}" th:name="size">
                        <input type="text" class="form-control" id="inputWord" th:value="${param.word !=null} ? ${param.word}" th:name="word" placeholder="Word For Search">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ex2" class="col-sm-2 col-form-label">Filter by price interval:</label>
                    <div class="col-sm-10">
                        <div style="float: left; margin: 10px; width: 40px">
                            <span id="l1" th:text="${filter.getRange() !=null} ? ${filter.getRange()[0]} : ${filter.getDefaultRange()[0]}"></span>
                        </div>
                        <div style="float: left; margin: 10px; width: 220px">
                            <input class="slider"
                                   data-slider-tooltip="show"
                                   id="ex2"
                                   th:name="range"
                                   th:value="${filter.getRange() !=null} ? ${filter.getRange()}" type="text">
                        </div>
                        <div style="float: left; margin: 10px; width: 40px">
                            <span id="l2" th:text="${filter.getRange() !=null} ? ${filter.getRange()[1]} : ${filter.getDefaultRange()[1]}"></span>
                        </div>

                    </div>
                </div>
                <div>
                    <input type="submit" class="btn btn-warning" value="Filter">
                    <a role="button" class="btn btn-danger" th:href="@{/shop/ (size=${productPage.size} )}">Reset Filter</a>
                </div>
            </form>
        </div>
        <script th:inline="javascript">
            var min = [[${filter.getDefaultRange()[0]}]];
            var max = [[${filter.getDefaultRange()[1]}]];
            var value = [[${filter.getRange() !=null} ? ${filter.getRange()} : ${filter.getDefaultRange()}]];
            var slider = new Slider('#ex2', {
                min: min,
                max: max,
                scale: 'logarithmic',
                value: value,
                step: 0.1,
                precision: 1,
            });
            slider.on('change',function () {
                document.getElementById('l1').innerText = slider.getValue()[0];
                document.getElementById('l2').innerText = slider.getValue()[1];
            });
        </script>
        <div>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center" th:if="${productPage.totalPages > 0}">
                    <li class="page-item" th:classappend="${productPage.isFirst() ? 'disabled':''}">
                        <a class="page-link" th:href="@{'/shop/?page=' + ${productPage.getNumber()}+'&size='+${productPage.size} + ${filter.toString()}}" th:text="Previous">%</a>
                    </li>
                    <li class="page-item" th:classappend="${productPage.getNumber() + 1 == i ? 'active': ''}" th:each="i: ${#numbers.sequence(1,productPage.getTotalPages())}">
                        <a class="page-link" th:href="@{'/shop/?page=' + ${i}+'&size='+${productPage.size} + ${filter.toString()}}" th:text="${i}">%</a>
                    </li>
                    <li class="page-item" th:classappend="${productPage.isLast() ? 'disabled':''}">
                        <a class="page-link" th:href="@{'/shop/?page=' + ${productPage.getNumber() + 2}+'&size='+${productPage.size} + ${filter.toString()}}" th:text="Next">%</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    </body>
</html>